@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    background-color: #9898c2;
}
main {
    margin: 5%;
    section {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 10px;
        .fishbutton {
            width: 60px;
            height: 30px;
            font-weight: 500;
        }
        p {
            font-family: "Pangolin";
            margin: 0;
            margin-left: 6px;
            font-weight: 450;
        }
    }
    span {
        font-family: "Quicksand";
    }
}
#rowDisplay {
    display: flex;
    justify-content: space-evenly;
    span {
        font-weight: 500;
    }
}